@{
    ViewData["Title"] = "Home Page";
}

@model IoTBay.Models.Views.TestViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Street Line 1</th>
            <th>Street Line 2</th>
            <th>Suburb</th>
            <th>State</th>
            <th>Postcode</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var address in Model.Addresses)
        {
            <tr>
                <td>@address.StreetLine1</td>
                <td>@address.StreetLine2</td>
                <td>@address.Suburb</td>
                <td>@address.State</td>
                <td>@address.Postcode</td>
            </tr>
        }
        </tbody>
    </table>
    <a asp-controller="User" asp-action="Index">Register New User</a>
    <div></div>
    <a asp-controller="Catalogue" asp-action="Index">Browse My Store</a>
    <br/>
    <a asp-controller="Shipment" asp-action="Index">View Shipment Methods</a>
    
    <p>Counter: @Model.Counter</p>
    <form asp-action="IncreaseCounter" asp-controller="Home" method="post">
        <input type="hidden" asp-for="Counter" value=@Model.Counter /> @* Bind the Counter to persist when sending request *@
        <button type="submit">Increment Counter</button>
    </form>
    
    
</div>