@{
    ViewData["Title"] = "Home Page";
}

@model List<IoTBay.Models.Entities.Address>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Street Line 1</th>
            <th>Street Line 2</th>
            <th>Suburb</th>
            <th>State</th>
            <th>Postcode</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <td>@address.StreetLine1</td>
                <td>@address.StreetLine2</td>
                <td>@address.Suburb</td>
                <td>@address.State</td>
                <td>@address.Postcode</td>
            </tr>
        }
        </tbody>
    </table>
    <a asp-controller="Register" asp-action="Index">Register New User</a>
</div>